<br />

<div class="profile-pic" align="center">
	<%= image_tag(@user.avatar.url, :class =>'img-circle') %>
</div>

<div class="bl-book-page">
	<h2><%= @user.name %></h2>
	This is what I am reading:
	
	<h3>Currently reading</h3>
 	<ul>
 	 <% @book.each do |book| %>
	 	<li><a href="../book/<%= book.olida %>"><%= book.title %></a> by <%= book.author %></li>
 	 <% end %>
	</ul>
</div>
